.search-area {
  width: 90%;
  margin: 100px auto 0px;
  text-align: center;
}

@media (min-width: 768px) {
  .search-area {
    width: 70%;
  }
}

.search-area .input {
  font-size: 14px;
  color: white;
}
@media (min-width: 768px) {
  .search-area .input {
    font-size: 20px;
  }
}

.search-area .input input {
  font-size: 12px;
  outline: none;
  width: 70%;
  padding: 5px 10px;
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
  color: rgba(0, 0, 0, 0.5);
}
@media (min-width: 768px) {
  .search-area .input input {
    padding: 15px 20px;
    width: 80%;
    font-size: 20px;
  }
}

.search-area .buttons {
  margin-top: 20px;
}

.search-area .buttons button {
  padding: 10px 15px;
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
  background-color: var(--main-color);
  color: white;
  outline: none;
  border: 1px solid var(--main-color);
  cursor: pointer;
  transition: 0.5s;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
}

@media (min-width: 768px) {
  .search-area .buttons button {
    font-size: 20px;
    width: 150px;
  }
}

.search-area .buttons button:not(:last-child) {
  margin-right: 10px;
}

.search-area .buttons .add:hover {
  background-color: #19c37d;
}

.search-area .buttons .fetch:hover {
  background-color: #e55604;
}
