.search-area {
  width: 90%;
  margin: 50px auto 0px;
  text-align: center;
}

@media (min-width: 768px) {
  .search-area {
    width: 70%;
    margin: 100px auto 0px;
  }
}

.search-area .input {
  font-size: 14px;
  color: white;
}
@media (min-width: 768px) {
  .search-area .input {
    font-size: 20px;
  }
}

.search-area .input input {
  font-size: 12px;
  outline: none;
  width: 70%;
  padding: 5px 10px;
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
  color: rgba(0, 0, 0, 0.5);
}
@media (min-width: 768px) {
  .search-area .input input {
    padding: 15px 20px;
    width: 80%;
    font-size: 20px;
  }
}

.search-area .buttons {
  margin-top: 20px;
}

.search-area .buttons button:not(:last-child) {
  margin-right: 10px;
}

.search-area .buttons .add:hover {
  background-color: var(--main-hover-color);
}

.search-area .buttons .fetch:hover {
  background-color: var(--secondary-hover-color);
}
